* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.artworkCard {
  min-height: 100%;
}

/*Register Page*/

.register-img {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.30),
      rgba(0, 0, 0, 0.30)
    ), url("https://images.unsplash.com/photo-1537884557178-342a575d7d16?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.register-btn {
  padding: 12px 32px !important;
  border-radius: 999px !important;
  border: none !important;
  font-family: "Montserrat";
  font-size: 1rem !important;
  background: #ff9f1c !important;
  color: black !important;
  font-weight: 500 !important;
}

.form-title {
  font-family: "Montserrat";
  font-weight: 700;
  color: black;
}

.form-label {
  font-family: "Montserrat";
  font-weight: 500;
  color: black;
}

.form-input {
  font-family: "Montserrat";
  font-weight: 400;
}

.register-welcome-msg {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 4rem;
  color: white;
}

.register-bg {
  background-color: #ffffff;
}

/*Login Page*/
Form {
  border: solid 1px #e5e5e5 !important;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

#submitBtn {
  padding: 12px 32px !important;
  border-radius: 999px !important;
  border: none !important;
  font-family: "Montserrat";
  font-size: 1rem !important;
  background: #ff9f1c !important;
  color: black !important;
  font-weight: 500 !important;
}

.login-title {
  font-family: "Montserrat";
  font-weight: 700;
  color: black;
}

/*Home - landing page*/
.landing-page {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.30),
      rgba(0, 0, 0, 0.30)
    ), url("https://images.unsplash.com/photo-1533688903971-65ad8726f66f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner-title {
  font-family: "Montserrat";
  font-weight: 700;
  color: white;
  font-size: 4rem;
}

.banner-subtitle {
  font-family: "Montserrat";
  font-weight: 400;
  color: white;
  font-size: 1.5rem;
}

.banner-button {
  padding: 12px 32px !important;
  border-radius: 999px !important;
  border: none !important;
  font-family: "Montserrat";
  font-size: 1rem !important;
  background: #ff9f1c !important;
  color: black !important;
  font-weight: 500 !important;
}

/*Home - Hot Deals*/
.hotdeals {
  min-height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.hotdeals-title {
  font-family: "Montserrat";
  font-weight: 700 !important;
  font-size: 2rem;
}

.hotdeals-button-container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 50% !important;
}

.hotdeals-button {
  padding: 12px 32px !important;
  border-radius: 999px !important;
  border: none !important;
  font-family: "Montserrat";
  font-size: 1rem !important;
  background: #ff9f1c !important;
  color: black !important;
  font-weight: 500 !important;
}

/*Artworks Catalog*/
.artwork-catalog {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.30),
      rgba(0, 0, 0, 0.30)
    ), url("https://images.unsplash.com/photo-1600718800089-353dc75b7bfd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sale-text {
  color: white;
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 400;
}

.sale-title {
  color: white;
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: 700;
}

.sale-subtitle {
  color: white;
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: 500;
}

.catalog-title {
  font-family: "Montserrat";
  font-size: 2rem;
  font-weight: 700;
}

.catalog-btn {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;

  padding: 12px 32px !important;
  border-radius: 999px !important;
  border: none !important;
  font-family: "Montserrat";
  font-size: 1rem !important;
  background: #ff9f1c !important;
  color: black !important;
  font-weight: 500 !important;
}

.card-title {
  color: black;
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 600;
}

.card-text {
  color: black;
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 400;
}

/*Artwork View Page*/
.artwork-view {
  border: solid 1px black;
  border-radius: 1rem;
/*  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);*/
}

.artwork-view-details {
  border-left: solid 1px black;
}

.artwork-view-button {
  padding: 12px 32px !important;
  border-radius: 999px !important;
  border: none !important;
  font-family: "Montserrat";
  font-size: 1rem !important;
  background: #ff9f1c !important;
  color: black !important;
  font-weight: 500 !important;
}

.artwork-view-img {
  border-radius: 1rem;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}

/*dashboard*/
.dashboard-banner {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.30),
      rgba(0, 0, 0, 0.30)
    ), url("https://images.unsplash.com/photo-1564951434112-64d74cc2a2d7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.table-header {
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 600;
}

.table-body {
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 400;
}

.table-button {
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 500;
  padding: 12px 32px !important;
  border-radius: 999px !important;
  border: none !important;
}

.dashboard-table {
  border: solid 1px black;
  border-radius: 1rem;
}

/*create new artwork page*/
.create-artwork-heading {
  font-family: "Montserrat";
  font-size: 2rem;
  font-weight: 700;
}

.newartwork-btn {
  padding: 12px 32px !important;
  border-radius: 999px !important;
  border: none !important;
  font-family: "Montserrat";
  font-size: 1rem !important;
  background: #ff9f1c !important;
  color: black !important;
  font-weight: 500 !important;
}

/*navbar*/
.navbar-base {
  background: #ff9f1c !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.nav-link {
  color: black !important;
  font-family: "Montserrat";
  font-size: 1rem !important;
  font-weight: 500 !important;
}

.navbar-brandname {
  color: black !important;
  font-family: "Montserrat";
  font-size: 1.2rem !important;
  font-weight: 700 !important;
}

body {
  padding-top: 56px; /* Adjust this value to provide enough space for the navbar */
}

/*error page*/
.error-banner {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.30),
      rgba(0, 0, 0, 0.30)
    ), url("https://images.unsplash.com/photo-1517697471339-4aa32003c11a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=876&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*Font style*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");